<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Summary: Comparison of Performance Projections - Configurations</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Performance Comparison">
    <meta name="author" content="Samvit Kaul; Shreeniwas Sapre">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <link href="https://nightly.datatables.net/css/dataTables.dataTables.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <script type="text/javascript" src="https://cdn.datatables.net/2.2.2/js/dataTables.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.min.js" integrity="sha384-VQqxDN0EQCkWoxt/0vsQvZswzTHUVOImccYmSyhJTp7kGtPed0Qcx8rK9h9YEgx+" crossorigin="anonymous"></script>
</head>
<body>
  <div class="container-fluid"> <!-- toplevel container -->
    <h1 style="text-align:center;">Comparison of Performance Projection Run: Configurations</h1>
    <table id="cfgheader" class="display" style="width:100%" border="1"></table>
    <table id="cfgsummary" class="display" style="width:100%" border="1"></table>

  <script type="text/javascript">
    var config_columns = {{ config_columns }};
    var config_column_structure = config_columns.map(function(column) {
        return { title: column };
    });
    var config_dataset = {{config_dataset}};

    var hdrtable = new DataTable('#cfgheader', {
        columns: [
            { title: 'Projection Run1' },
            { title: 'Projection Run2' },
            { title: 'Study' },
            { title: 'Config Comparison Result' },
            { title: 'Exact Matches' },
            { title: 'Matches Within Threshold' },
            { title: 'Mismatches' },
            { title: 'Only in 1 or 2'},
            { title: 'Total' }
        ],
        data: [
            ['{{ run1_name }}', '{{ run2_name }}', '{{ study_name }}', '{{ cfg_compare_result }}',
             '{{ exact_matches }}', '{{ approx_matches }}', '{{ mismatches }}', '{{ only_in_1_or_2 }}',
             '{{ total }}' ]
        ],
        paging: false,
        searching: false,
        ordering: false,
        info: false,
        lengthChange: false
    });

    var table = new DataTable('#cfgsummary', {
        columns: config_column_structure,
        data: config_dataset,
        lengthMenu: [
            [10, 25, 50, -1],
            [10, 25, 50, 'All']
	]
      }
    );
  </script>
  </div>
</body>
</html>
